#header{
  background-color: #343a40;
  text-align: center;
}

.header-left{
  float: left;
}

.header-right{
  float: right;
}

.header-center{
  text-align: left;
  margin: 0 auto !important;
  display: inline-block;

}

.header-title{
  color: white !important;
  font-size: 25px !important;
  font-weight: bold;
}

.menu-button{
  background-image: url('../icons/menu.svg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 25px;
  background-color: Transparent;
  overflow: hidden;
  outline:none;
  border: none;
}
